{% extends "base.html" %}
{% load rest_framework %}
{% block title %}
Pybugs - Add Bugs
{% endblock title %}

{% block content %}
  <style type="text/css">
    .list-tickets-width { width: 750px; }
  </style>
  {% if user.is_authenticated %}
  <h1>add bugs {{ user }}</h1>
  <a href="{% url "tickets:loginsss" %}">Log In</a>
  <a href="{% url "tickets:logoutsss" %}" %}">Logout</a>
  <a href="{% url "tickets:newsss" %}">New Ticket</a>
  <a href="{% url "tickets:listsss" %}">List Ticket</a>
  {% else %}
  <h1>add bugs</h1>
  {% endif %}
  <div class="jcyc asnyc-data"></div>
  {% if request.user.is_authenticated %}
  <section class="jcyc ticket-form">
    <form action="{% url 'tickets:newsss' %}" method="POST">
      {% csrf_token %}
      <p>{{ form.id }}</p>
      <p>{{ form.subject }}</p>
      <p>{{ form.message }}</p>
      <p>{{ form.ticket_status }}</p>
      <p>{{ form.ticket_type }}</p>
      <p>{{ form.owner }}</p>
      <p>{{ form.updated }}</p>
      <p><input type="submit" name="Create" value="Create new bug" /></p>
    </form>
  </section>
  {% endif %}
{% endblock content %}

{% block footer %}
<script type="text/javascript">

</script>
{% endblock %}
